[package]

name = "magic"
description = "libmagic bindings"
readme = "README.md"
license = "MIT"
keywords = ["magic", "binding", "file"]
homepage = "https://github.com/robo9k/rust-magic"
repository = "https://github.com/robo9k/rust-magic.git"
documentation = "https://robo9k.github.io/rust-magic/magic/"
authors = [
    "Daniel Micay <danielmicay@gmail.com>",
    "Petar Radošević <petar@wunki.org>",
    "robo9k <robo@9k.lv>",
]
version = "0.7.0"
exclude = [
    ".gitignore",
    ".travis.yml",
]

[lib]

name = "magic"

[dependencies]
magic-sys = "0.0.5"
bitflags = "0.1"

[dev-dependencies]
regex = "0.1.14"
