name: "build"

permissions: {}

on:
  # run on default branch to store caches and get coverage
  push:
    branches: [ main ]
  pull_request:

env:
  RUSTFLAGS: "-Dwarnings"
  CARGO_INCREMENTAL: "false"
  CARGO_PROFILE_TEST_DEBUG: "none"
  CARGO_TERM_VERBOSE: "true"
  CARGO_TERM_COLOR: "always"

jobs:
  build-and-test:
    name: "cargo build && cargo llvm-cov test"
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: toolchain
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # doesn't have usual versioned releases/tags
        with:
          toolchain: "1.89.0" # current pinned stable
          # minimal profile includes rustc component which includes cargo and rustdoc

      - run: echo "RUSTUP_TOOLCHAIN=${RUSTUP_TOOLCHAIN}" >> "${GITHUB_ENV}"
        env:
          RUSTUP_TOOLCHAIN: ${{ steps.toolchain.outputs.name }}

      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # does not have recent tags

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - uses: taiki-e/install-action@7fe7b8c79a3c5569643cf27dfc32456883a4cd4d # v2.62.16
        with:
          # renovate: taiki-e/install-action
          tool: cargo-llvm-cov@0.6.19

      # install libmagic for dynamic linkage without robo9k/rust-magic-sys/setup-libmagic version
      - run: sudo apt-get update
      - run: sudo apt-get install libmagic1 libmagic-dev

      - run: cargo --verbose --version
      - run: cargo llvm-cov --version
      - run: cargo build --locked --all-targets --all-features
      - run: cargo llvm-cov test --codecov --output-path codecov.json --locked --all-targets --all-features

      - uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          disable_search: true
          files: codecov.json
          fail_ci_if_error: true
          use_oidc: true
          #verbose: true
          #version: latest

  test-careful:
    if: github.event_name == 'pull_request'
    name: "cargo careful test"
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - id: toolchain
        uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921 # doesn't have usual versioned releases/tags
        with:
          toolchain: "nightly" # required for cargo-careful, not pinned
          # minimal profile includes rustc component which includes cargo and rustdoc

      - run: echo "RUSTUP_TOOLCHAIN=${RUSTUP_TOOLCHAIN}" >> "${GITHUB_ENV}"
        env:
          RUSTUP_TOOLCHAIN: ${{ steps.toolchain.outputs.name }}

      - uses: rui314/setup-mold@725a8794d15fc7563f59595bd9556495c0564878 # does not have recent tags

      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1

      - uses: taiki-e/install-action@7fe7b8c79a3c5569643cf27dfc32456883a4cd4d # v2.62.16
        with:
          # renovate: taiki-e/install-action
          tool: cargo-careful@0.4.8

      # install libmagic for dynamic linkage without robo9k/rust-magic-sys/setup-libmagic version
      - run: sudo apt-get update
      - run: sudo apt-get install libmagic1 libmagic-dev

      - run: cargo careful test --locked --all-targets --all-features --verbose
