name: "conventional commits"

permissions: {}

on:
  pull_request:

jobs:
    cog-check:
        name: "cog check"
        permissions:
          contents: read
        runs-on: ubuntu-24.04
        steps:
            - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
              with:
                egress-policy: audit

            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                persist-credentials: false
                fetch-depth: 0
                # pick the pr HEAD instead of the merge commit
                ref: ${{ github.event.pull_request.head.sha }}

            # override toolchain so cargo-binstall doesn't fail due to our old MSRV
            - run: rustup override set 1.89.0 # current pinned stable

            - uses: taiki-e/install-action@7fe7b8c79a3c5569643cf27dfc32456883a4cd4d # v2.62.16
              with:
                # renovate: taiki-e/install-action
                tool: cocogitto@6.2.0

            - run: cog check ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}
