name: "REUSE"

permissions: {}

on:
  # also run on push to main branch for badge
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    name: "reuse lint"
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps: 
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: REUSE Compliance Check
        uses: fsfe/reuse-action@676e2d560c9a403aa252096d99fcab3e1132b0f5 # v6.0.0
